{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
    "react/destructuring-assignment": "off",
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": ["to", "route"],
      "aspects": ["invalidHref", "preferButton"]
    }],
    "func-names": "off",
    "react/function-component-definition": "off"
  },
  "env": {
    "browser": true
  }
}