.ProjectList-container {
  flex: 1;
  overflow: scroll;
  text-align: left;
  margin-bottom: 62px;
}

.ProjectList-container a {
  text-decoration: none;
  color: inherit;
}

.ProjectList-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProjectList-button {
  background: transparent;
  margin-top: 1pc;
  padding: 6px;
  padding-left: 2pc;
  padding-right: 2pc;
  border-radius: 4px;
  font-size: 14px;
  color: #4A4A4A;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border-color: #4A4A4A;
}
