.Talks-container {
  margin-bottom: 62px;
}

.Talk-wrapper {
  text-decoration: none;
}

.Talk-gif-wrapper {
  width: 100%;
  margin-top: 10px;
}

.Talk-gif {
  width: 100%;
}

.Talk-title {
  font-size: 26px;
  text-decoration: none;
  display: block;
  margin-bottom: 18px;
}

.Talk-description {
  font-size: 22px;
  font-weight: 300;
  margin-top: 6px;
  color: #EDEDED;
}

/*
@custom-media --sm-viewport only screen and (min-width: 48em); // 768px
@custom-media --md-viewport only screen and (min-width: 64em); // 994px
@custom-media --lg-viewport only screen and (min-width: 75em); / 1200px
*/

@media only screen and (min-width: 768px) {
  .Talk-gif-wrapper {
    margin-top: 1pc;
  }

  .Talk-title {
    font-size: 28px;
  }

  .Talk-description {
    font-size: 22px;
  }
}

@media only screen and (min-width: 994px) {
  .Talk-title {
    font-size: 32px;
  }

  .Talk-description {
    font-size: 24px;
    font-weight: 100;
  }
}
