.Home-container {
  flex: 1;
  background-color: #0d0e14;
  color: #ffffff;
}

.Home-header-container {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Home-header-container img {
  height: 60px;
}

.Home-calendly-link {
  margin-top: 1pc;
  font-weight: 300;
  font-size: 18px;
}

.Home-content {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-timing-function: ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/*
@custom-media --sm-viewport only screen and (min-width: 48em); // 768px
@custom-media --md-viewport only screen and (min-width: 64em); // 994px
@custom-media --lg-viewport only screen and (min-width: 75em); / 1200px
*/
@media only screen and (min-width: 768px) {
  .Home-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Home-header-container img {
    height: 100px;
  }
  .Home-header-container {
    padding: 2pc;
    padding-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .Home-calendly-link {
    margin-top: 0;
  }
  .Home-content {
    margin-top: 24px;
    width: 80%;
    margin-bottom: 62px;
  }

}

@media only screen and (min-width: 1200px) {
  .Home-content {
    width: 60%;
    max-width: 700px;
    margin-bottom: 62px;
  }
}
