.Bubble-container {
  position: absolute;
  bottom: 0;
  will-change: transform;
  opacity: 0;

}

.Bubble-content {
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(247, 199, 219, 0.5);
  /*The will-change CSS property provides a way for authors to hint browsers about the kind of changes to be expected on an element*/
  will-change: transform;
  border-radius: 10px;
}

@-webkit-keyframes bubblerise {
  0% {
    bottom: 0;
    opacity: 0;
  }
  5% {
    bottom: 0;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}
