.Footer-container {
  width: 100%;
  position: absolute;
  padding: 30px;
  left: 0;
  bottom: 0;
}
.Footer-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.Footer-icon {
  color: #202020;
  font-size: 16px;
}

@media (min-width: 480px){
  .Footer-icon {
    font-size: 24px;
  }
}
